.contactsList {
  font-family: sans-serif;
  margin-right: 40px;
}

.listItem {
  margin-top: 10px;
}

.btn {
  width: 60px;
  font-family: sans-serif;
  margin-left: 10px;
  border: 1px solid rgb(138, 138, 138);
  border-radius: 3px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
  color: rgb(0, 0, 0);
}
